@font-face {
    font-family: 'Bluu Next Cyrillic';
    src: url('../../font/Bluu\ Next\ Cyrillic.woff2') format('woff2'),
         url('../../font/Bluu\ Next\ Cyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   
@font-face {
    font-family: 'Bluu Next Cyrillic';
    src: url('../../font/Bluu\ Next\ Cyrillic.woff2') format('woff2'),
         url('../../font/Bluu\ Next\ Cyrillic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}   